autopep8==1.5.7
boto3-stubs[s3,sqs]==1.26.123
boto3==1.26.123
flake8==3.9.2
isort==5.9.3
mypy_boto3_s3==1.26.116
mypy_boto3_sqs==1.26.0.post1
mypy-boto3-builder==5.5.0
mypy==0.910
pathspec==0.11.1
pep8==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3
types-python-dateutil==2.8.19.12
types-pytz==2023.3.0.0
unittest-xml-reporting==3.0.2
yapf==0.31.0
